body {
    margin: 0;
    background: mistyrose;
}

/* Wings */
.wing {
    background: white;
    border-radius: 7px 12px 36px 12px;
    width: 72px;
    height: 30px;
    margin-top: 48px;
    position: absolute;
}

/* Right Wing */
.right {
    margin-left: -36px;
    left: 50%;
    animation: flap1 1s infinite;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 7px 12px 36px 12px;
    transform: rotate(-10deg) translate(150px, 0);
}

@keyframes flap1 {
    0% {
        transform: rotate(-10deg) translate(150px, 0);
    }
    50% {
        transform: rotate(-5deg) translate(150px, 0);
    }
}

.right::before {
    position: absolute;
    content: '';
    background: white;
    width: 70%;
    height: 70%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 12px 12px 36px 12px;
    transform: rotate(20deg) translate(-1px, 0);
    margin-top: 23px;
}

.right::after {
    position: absolute;
    content: '';
    background: white;
    width: 40%;
    transform: rotate(29deg) translate(-5px, 0);
    height: 30%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 36px 42px;
    margin-top: 40px;
}

/* Left Wing */
.left {
    border-radius: 7px 12px 12px 36px;
    margin-left: -36px;
    left: 50%;
    animation: flap2 1s infinite;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    transform: rotate(10deg) translate(-149px, 0);
}

@keyframes flap2 {
    0% {
        transform: rotate(10deg) translate(-149px, 0);
    }
    50% {
        transform: rotate(5deg) translate(-149px, 0);
    }
}

.left::before {
    position: absolute;
    content: '';
    background: white;
    width: 70%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    transform: translate(46%, 0) rotate(-20deg);
    height: 60%;
    border-radius: 7px 12px 42px 42px;
    margin-top: 24px;
}

.left::after {
    position: absolute;
    content: '';
    background: white;
    width: 40%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    height: 30%;
    transform: translate(164%, 0) rotate(-34deg);
    border-radius: 0px 0px 42px 36px;
    margin-top: 35px;
}

/* Heart */
.heart {
    position: absolute;
    width: 72px;
    z-index: 99999;
    height: 60px;
    margin-left: -30px;
    left: 50%;
    animation: heart 1s infinite;
    transform: scale(0.8);
    transition: 0.6s;
    margin-top: 36px;
}

.heart::before,
.heart::after {
    content: "";
    width: 30px;
    height: 48px;
    position: absolute;
    left: 30px;
    top: 0;
    border-radius: 30px 30px 3.6px 3.6px;
    background: crimson;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes heart {
    0% {
        transform: scale(0.8) translate(0, 0);
    }
    50% {
        transform: scale(0.92) translate(0, 9px);
    }
    100% {
        transform: scale(0.8);
    }
}

/* Envelope */
#envelope {
    background: white;
    margin: 200px auto;
    height: 120px;
    position: relative;
    width: 192px;
    border-radius: 5px;
    overflow: hidden;
    animation: floaty 1s infinite;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#envelope:hover {
    transform: scale(1.05);
}

@keyframes floaty {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 12px);
    }
}

/* Bottom, left, and right sides */
.sides {
    border-color: transparent #fbfbfb #f7f7f7 #fcfcfc;
    border-style: solid;
    border-width: 54px 102px;
    bottom: 0;
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

/* Top side */
.top {
    border-color: white transparent transparent;
    border-style: solid;
    border-width: 65px 84px 54px 84px;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 50% 0;
    width: 0;
}

